{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.js,*.jsx,*.ts,*.tsx",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
